@inject IJSRuntime JSRuntime

<div id="svg" class="svgviewer" style="width: 100%; height: 100%;">
</div>
@code {
    [Parameter] public string? SvgUrl { get; set; }
    [Parameter] public EventCallback<string> PathSelected { get; set; }
    [Parameter] public EventCallback<string> PathUnselected { get; set; }
    [Parameter] public List<string> InitialPaths { get; set; } = new() { "" };   
    private SvgViewerJS? svgViewerJS;
    private ElementReference svg;
    private string? lastSvgUrl;
    private bool busy;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        svgViewerJS ??= new SvgViewerJS(JSRuntime);
        svgViewerJS.PathSelectedEvent += OnPathSelected;
        svgViewerJS.PathUnselectedEvent += OnPathUnselected;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            busy = true;
            await svgViewerJS!.InitAsync();
            busy = false;

        }
        if (!busy && !SvgUrl!.Equals(lastSvgUrl))
        {
            busy = true;  
            lastSvgUrl = SvgUrl;
            await svgViewerJS!.LoadSvgAsync(SvgUrl!);
            foreach (var path in InitialPaths)
                await svgViewerJS!.SelectPath(path);
            busy = false;

        }
        ;
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (svgViewerJS is null)
            throw new InvalidOperationException("svgViewerJS is null");
        if (SvgUrl is null)
            throw new InvalidOperationException("SvgUrl is null");
    }   

    public void OnPathSelected(string pathId)
    {
        PathSelected.InvokeAsync(pathId);
    }
    public void OnPathUnselected(string pathId) => PathUnselected.InvokeAsync(pathId);    
    
    public async Task SelectPath(string pathId) => await svgViewerJS!.SelectPath(pathId);
    public async Task UnslectPath(string pathId) =>await svgViewerJS!.UnselectPath(pathId);
    public async Task UnselectAllPaths() => await svgViewerJS!.UnselectAllPaths();
    // todo - dispose
}
