@namespace BlazorizeTest
@page "/Home"
@inherits LzComponentBaseAssignViewModel<ISessionViewModel>
@inject ISessionsViewModel SessionsViewModel

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    protected override async Task OnInitializedAsync()
    {
        ViewModel = SessionsViewModel.SessionViewModel;
        await base.OnInitializedAsync();
    }
}